/* line 2, scss/admin.scss */
label {
  margin-bottom: 0;
  font-weight: normal;
  line-height: .9em;
}

/* line 7, scss/admin.scss */
.submit .button-primary {
  margin-right: .5rem;
}

/* line 10, scss/admin.scss */
label.btn {
  margin-right: 1rem;
  margin-right: 10px;
  padding: 0;
}

/* line 15, scss/admin.scss */
span.related_item {
  padding: 5px 0px 5px 10px;
  margin: 3px 10px 3px 0;
  background: #ecf0f1;
  border-bottom: 2px solid #dadedf;
}

/* line 21, scss/admin.scss */
span.deleteItem {
  padding: 5px 10px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
/* line 25, scss/admin.scss */
span.deleteItem:hover {
  background-color: #BDC3C7;
}

/* line 29, scss/admin.scss */
#pm_snappro_product_images {
  overflow: auto;
}

/* line 32, scss/admin.scss */
.product_shot {
  float: left;
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: .2rem;
  margin: .5rem;
}

/* line 40, scss/admin.scss */
.pimage {
  position: relative;
}
/* line 42, scss/admin.scss */
.pimage .deleteImg {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 10px;
  background: #D94040;
  border-bottom: 2px solid #CC0000;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
/* line 53, scss/admin.scss */
.pimage .deleteImg:hover {
  background-color: #CC0000;
  border-bottom: 2px solid #D94040;
}
