$rmbutton: #ecf0f1;
label {
	margin-bottom: 0;
	font-weight: normal;
	line-height: .9em;
}
.submit .button-primary {
	margin-right: .5rem;
}
label.btn {
    margin-right: 1rem;
    margin-right: 10px;
    padding: 0;
}
span.related_item {
	padding: 5px 0px 5px 10px;
	margin: 3px 10px 3px 0;
	background: $rmbutton;
	border-bottom: 2px solid #dadedf;
}
span.deleteItem {
	padding: 5px 10px;
	margin: 0 0 0 5px;
	cursor: pointer;
	&:hover {
		background-color: #BDC3C7;
	}
}
#pm_snappro_product_images {
	overflow: auto;
}
.product_shot {
	float: left;
	background-color: #f7f7f7;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	padding: .2rem;
	margin: .5rem;
	height: 150px;
	height: 150px;	img.shot {
		max-width: 150px;
		max-height: 150px;
	}
}
.pimage {
	position: relative;
	.deleteImg {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		padding: 5px 10px;
		background: #D94040;
		border-bottom: 2px solid #CC0000;
		color: #FFFFFF;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		&:hover {
			background-color: #CC0000;
			border-bottom: 2px solid #D94040;
		}
	}
}