$orderbuttonbg : #E74C3C;
$orderbuttonbd : #EB1C24;
$orderbuttonbghov: #EB1C24;
$orderbuttonbdhov: #A00309;
$linkcol: #1A74BB;

.pm-snappro-single {
	.entry-title {
		text-align: center;
	}
}
.pm-snappro-product-feature {
		.product-details, .product-name, .product-pricing {
			text-align: center;
		}
		.left {
			width: 635px;
			float: left;
		}
		.right {
			width: 423px;
			float: right;
		}
		.price {
			font-size: 60px;
			font-size: 6rem;
			color: #1A74BB;
			strike {
				font-size: 40px;
				font-size: 4rem;
				color: #333333;
			}
		}
		.video528 {
			width: 635px;
			height: 357px;
		}
		.tech-info {
			padding: 40px 0 10px 60px;
			padding: 4rem 0 1rem 6rem;
		}
		.cart-contents {
			padding: 10px 60px;
			padding: 1rem 6rem;
		}
		.tech-info, .cart-contents {
			text-align: left;			
		}
}
.video-screenshot {
	margin-bottom: 20px;
	margin-bottom: 2em;
}
.mejs-container {
	width: 100% !important;
	height: auto !important;
	padding-top: 57%;
}
.mejs-overlay, .mejs-poster {
	width: 100% !important;
	height: 100% !important;
}
.mejs-mediaelement video {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100% !important;
	height: 100% !important;
}
.post-type-archive-pm_products {
	.entry{
		li {
		display: inline-block;
		width: 48%;
		margin-right:0.25%;
		text-align: center;

		img {
		display: block;
		margin: 0 auto;
		}
		h2 {
		margin: 2rem 0;
		margin: 20px 0;
		}
		a:hover {
		color: #linkcol;
		text-decoration:underline;
		h2 {
		color: $linkcol;
		}
		}
		}
	}
}
@mixin tax-term-head {
	h2.widgettitle{
	margin: 3rem 0 2rem 0;
	}
}
.personal-list-top {
	@include tax-term-head
}

.plr-list-top {
	@extend .personal-list-top
}

@media only screen and (max-width: 1023px) {
	.pm-snappro-product-feature {
		.left {
			width: 570px;
			float: left;
			/*width: 100%;*/
		}
		.right {
			width: 370px;
			float: right;
			/*width: 100%;*/
		}
		.video528 {
			width: 570px;
			height: 321px;
		}
	}
	}
@media only screen and (max-width: 768px) {
	.pm-snappro-product-feature {
		.left {
			width: 428px;
			float: left;
			/*width: 100%;*/
		}
		.right {
			width: 285px;
			float: right;
			/*width: 100%*/
		}
		.video528 {
			width: 560px;
			height: 340px;
		}
	}
	}
@media only screen and (max-width: 640px) {
	.pm-snappro-product-feature {
		.left {
			/*width: 356px;
			float: left;*/
			width: 100%;
		}
		.right {
			/*width: 236px;
			float: right;*/
			width: 100%
		}
		.video528 {
			width: 560px;
			height: 340px;
		}
	}
}
@media only screen and (max-width: 480px) {
	.pm-snappro-product-feature {
		.left {
			/*width: 356px;
			float: left;*/
			width: 100%;
		}
		.right {
			/*width: 236px;
			float: right;*/
			width: 100%
		}
		.video528 {
			width: 480px;
			height: 270px;
		}
	}
}
@media only screen and (max-width: 320px) {
	.pm-snappro-product-feature {
		.left {
			/*width: 356px;
			float: left;*/
			width: 100%;
		}
		.right {
			/*width: 236px;
			float: right;*/
			width: 100%
		}
		.video528 {
			width: 240px;
			height: 193px;
		}
	}
}
@media only screen and (max-width: 240px) {
	.pm-snappro-product-feature {
		.left {
			/*width: 356px;
			float: left;*/
			width: 100%;
		}
		.right {
			/*width: 236px;
			float: right;*/
			width: 100%
		}
		.video528 {
			width: 240px;
			height: 193px;
		}
	}
}
.order {
	a {
		padding: 10px 40px;
		padding: 1rem 4rem;
		background-color: $orderbuttonbg;
		border-bottom: 5px solid $orderbuttonbd;
		color: #FFFFFF;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		display: block;
		width: 70%;
		margin: 0 auto 10px auto;
		margin: 0 auto 1rem auto;
		&:hover {
			background-color: $orderbuttonbghov;
			border-bottom: 5px solid $orderbuttonbdhov;
		}
	}
}
.am-basket-preview {
	font-size: 1.6rem;
	.am-basket-preview-items {
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
}
.screenshots {
	img {
		width: 65px;
		width: 6.5rem;
		height: 65px;
		height: 6.5rem;
		margin-right: 10px;
		margin-right: 1rem;
		box-shadow: 0 1px 3px #666666;
	}
}
.screenshot-nav {
	font-size: 14px;
	font-size: 1.4rem;
	a {
		color: #000000;
		padding: 0 5px;
		padding: 0 .5rem;
		&.jp-previous {
			color: #666666;
		}
		&.jp-current {
			background-color: #dcded1;
		}
		&.jp-next, &.jp-previous {
			font-size: 10px;
			font-size: 1rem;
			text-transform: lowercase;
		}
	}
}
.pm-snappro-desc {
	margin: 20px 0 0;
	margin: 2rem 0 0;
}